anki==2.1.33
ankirspy==2.1.33
aqt==2.1.33
attrs==20.2.0
decorator==4.4.2
iniconfig==1.0.1
Markdown==3.2.2
MarkupSafe==1.1.1
more-itertools==8.5.0
orjson==3.3.1
packaging==20.4
pluggy==0.13.1
protobuf==3.13.0
py==1.9.0
pyparsing==2.4.7
pyrsistent==0.16.0
pytest==6.0.1
requests==2.24.0
Send2Trash==1.5.0
six==1.15.0
soupsieve==2.0.1
toml==0.10.1
urllib3==1.25.10
waitress==1.4.4
Werkzeug==1.0.1
